<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Edit Page</title>
</head>
<body>
	<h1>Edit Page</h1>
  <hr />
  <form method="post">
    <table>
      <tr>
        <th><label>ID</label></th>
        <th><input type="text" name="id" value="<%= data.id %>" disabled></th>
      </tr>
      <tr>
        <th><label>Name</label></th>
        <th><input type="text" name="name" value="<%= data.name %>"></th>
      </tr>
      <tr>
        <th><label>Model Number</label></th>
        <th><input type="text" name="modelnumber" value="<%= data.modelnumber %>"></th>
      </tr>
      <tr>
        <th><label>Series</label></th>
        <th><input type="text" name="series" value="<%= data.series %>"></th>
      </tr>
    </table>

    <input type="submit">
  </form>
</body>
</html>
