<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>List Page</title>
</head>
<body>
	<h1>List Page</h1>
  <a href="/Insert">Insert DATA</a>
  <hr />
  <table width="100%" border=1>
    <tr>
      <th>DELETE</th>
      <th>EDIT</th>
      <th>ID</th>
      <th>Name</th>
      <th>Model Number</th>
      <th>Series</th>
    </tr>
    <% data.forEach(function(item,index){%>
      <tr>
        <td><a href="/Delete/<%= item.id %>">DELETE</a></td>
        <td><a href="/Edit/<%= item.id %>">EDIT</a></td>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.modelnumber %></td>
        <td><%= item.series %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
